@model IEnumerable<MoneyMaker.Models.Alert>

@{
    ViewData["Title"] = "List of Alerts";
}

<h1>Alert</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Created On
            </th>
            <th>
               From
            </th>
            <th>
                To
            </th>
            <th>
                Above/Below
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlertName)
            </td>
            <td>
                @{
                    string dateStr = item.CreateDate.ToShortDateString();
                    <p>@dateStr</p>
                }

                
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FromCurrency)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ToCurrency)
            </td>

            <td>
                @{
                    if(item.isBelow){
                        <p>Below </p>
                    }else{
                        <p>Above </p>
                    }
                }
                @Html.DisplayFor(modelItem => item.ConditionValue)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
