@using MoneyMaker.ViewModels;
@using Microsoft.AspNetCore.Identity
@model ConvertViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var modelAsJson = JSON.parse('@Html.Raw(Json.Serialize(Model))');
            array = modelAsJson["chartData"];
            array = Object.entries(array)
            array.unshift(["Date", "Rate"]);

            
            var fromCurr = modelAsJson.fromCurrency;
            var toCurr = modelAsJson.toCurrency;
            var convTitle = fromCurr + " to " + toCurr + " Conversion";

            var data = google.visualization.arrayToDataTable(array);
            var options = {
                title: convTitle,
                legend: { position: 'bottom', "width": 800, "height": 800 }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);

        }
    </script>
</head>

<div class="text-center">
    <div id="convertBlock">
        <form method="post">
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <select name="FromCurrency" asp-for="FromCurrency"
                                asp-items="@(new SelectList(ViewBag.currencies, "CurrencySym", "CurrencyFullName"))"></select>
                        </div>


                    </td>
                    <td>
                        <div class="form-group">
                            <span asp-validation-for="FromValue" class="text-danger"></span>
                            <input asp-for="FromValue" type="number" name="FromValue" id="FromValue">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Convert</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input asp-for="ToValue" type="number" name="ToValue" id="ToValue" value=@Model.ToValue>
                    </td>

                    <td>
                        <div class="form-group">
                            <select name="ToCurrency" asp-for="ToCurrency"
                                asp-items="@(new SelectList(ViewBag.currencies, "CurrencySym", "CurrencyFullName"))"></select>
                        </div>
                    </td>
                </tr>
            </table>

        </form>

        <div asp-validation-summary="All" class="text-danger"></div>
    </div>

    @{
        if (Model.ChartData != null)
        {
            <div id="chartBlock">
                <h2>Conversion chart</h2>
                <div id="curve_chart" style="margin-left: 15%; width: 1000px; height: 500px"></div>
            </div>
        }
    }


    @*Conversion chart*@
    <div id="featureBlock">
        @{
            if (Model.ChartData != null && SignInManager.IsSignedIn(User))
            {

                <a asp-controller="Alert"
                    asp-action="Create" 
                    asp-route-fromCurr="@Model.FromCurrency"
                    asp-route-toCurr="@Model.ToCurrency"
                    asp-route-currVal="@Model.ToValue"
                    >Add As Alert</a>
            }
            else
            {
                <div id="featuresBlock">
                    <p>
                        Store portfolio and see a sum of your money in local currencies
                    </p>

                    <p>
                        Create alert to be updated with the currency exchange rate
                    </p>

                    <p>
                        See a trend of the forex in the past
                    </p>
                </div>
            }
        }
    </div>
    @{
        if (SignInManager.IsSignedIn(User))
        {
                <table>
        <thead>
            <tr>
                <th>My Alerts:</th>
                <th>My Portfolio:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>
                    <div id="alertBlock">
                        @{
                            if (ViewBag.alerts != null && ViewBag.alerts.Count>0)
                            {
                                foreach (Alert item in ViewBag.alerts)
                                {
                                    <p>@item.AlertName</p>
                                }
                            }
                            else
                            {
                                <p>There is no alerts active right now</p>
                            }
                        }
                    </div>
                </td>
                <td>
                     <div id="portfolioBlock">



                        @{
                            if (ViewBag.portfolioEntry != null && ViewBag.portfolioEntry.Count>0)
                            {
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Currency</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (PortfolioEntry item in ViewBag.portfolioEntry)
                                        {
                                            <tr>
                                                <td>@item.EntryCurrencySym</td>
                                                <td>@item.EntryValue</td>
                                            </tr>
                                        }

                                            <tr>
                                                <td>Total (CAD):</td>
                                                <td>@ViewBag.PortfolioTotal</td>
                                            </tr>
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>There is no portfolio entries right now</p>
                            }
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
        }
    }

</div>
